@import '_variable.scss';

body{
    .table-index{
        tr{
            th{
                &:last-child{
                    text-align: right;
                }
            }
            td{
                &:last-child{
                    text-align: right;
                }
                .img-list{
                    // width: 100%;
                    max-width: 200px;
                    text-align: left;
                }
                img{
                    max-width: 200px;
                }
            }
        }
    }
    label{
        &.required{
            &:after{
                content: "*";
                color: red;
            }
        }
    }
    .bg-form-image{
        background: #dbdbdb;
        .bt-trash{
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    .sidebar-content, .sidebar-link{
            background-color: $greenFonce;
    }

    .sidebar-link{
        &:hover{
            background-color: rgba($color: white, $alpha: 0.2);
        }
    }

    .sidebar-item.active{
        background-color: rgba($color: white, $alpha: 0.2);
    }
}