<form method="post" action="{{ path('app_admin_expert_delete', {'id': expert.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cet expert?');" class="d-inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ expert.id) }}">
    <button class="btn btn-danger"><i class="align-middle" data-feather="trash"></i></button>
</form>
