<form method="post" action="{{ path('app_admin_contact_content_delete', {'id': contact_content.id}) }}" onsubmit="return confirm('Voulez vous vraimment supprimer ces informations de contact?');" class="d-inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact_content.id) }}">
    <button class="btn btn-danger my-2"><i class="align-middle" data-feather="trash"></i></button>
</form>
