{% extends 'base-backend.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_user_index') }}" class="btn btn-dark btn-sm mb-3">Retour à la liste</a>
    <h1>Créer un nouvel utilisateur</h1>

    {{ include('admin_user/_form.html.twig') }}
{% endblock %}
