{% extends 'base.html.twig' %}

{% block title %}Hello FrontCommandeController!{% endblock %}

{% block body %}
    {{ form_start(form) }}
        <div class="d-flex">
            {{ form_widget(form.adresse, {"attr": {'class': 'mb-3'}})|replace({ '[-br]' : '</br>'})|raw }}
            {{ form_label(form.adresse)|replace({ '[-br]' : '</br>'})|raw }}
        </div>
        <button type="submit" class="btn btn-green-tomotic">Valider la commande</button>
    {{ form_end(form) }}
{% endblock %}
