<nav class="navbar navbar-expand navbar-light navbar-bg">
    <a class="sidebar-toggle js-sidebar-toggle ms-2">
        <i class="hamburger align-self-center"></i>
    </a>
    <div class="navbar-collapse collapse justify-content-center">
        <h4 class="mb-0">Bienvenue sur le Panneau d'Administration {{ app.user.email }}</p>
    </div>
</nav>